*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html{
    height: 100%;

}

body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}

/* menu design */

#menu{

}

.brand-logo{
    padding: 0 30px;

}

.brand-logo img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 12px 0;
    color: black;
    font-weight: 300;
}

.menu-item a:hover{
    background: rgb(115, 15, 21);
}

#food-container{
    background: peachpuff;
}

#cart{
    background: lavender;
}

